################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/TenXamarinD5/.vs/TenXamarinD5/v15
/.vs
